body {
    margin: 10px; /*Mengatur jarak antar elemen*/
    
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: orangered;
}

footer{
    padding: 30px;
    color: white;
    background-color: grey;
    text-align: center;
}
